.App {
  font-family: sans-serif;
  text-align: center;
}

#piano {
  display: flex;
  height: 225px;
  border: 1px solid black;
  margin: auto;
  position: relative;
}

.white-key {
  border: 1px solid black;
  flex: 1;
}

.black-key {
  position: absolute;
  height: 125px;
  width: 50px;
  background-color: black;
  color: white;
}

#black-0 {
  left: 75px; /* 700/7 -12.5... that is width/#keys - width of black key/2*/
}

#black-1 {
  left: 175px;
}

#black-2 {
  left: 375px;
}
#black-3 {
  left: 475px;
}
#black-4 {
  left: 575px;
}